# Dependencies
node_modules/

# Build output
dist/

# Archives
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Cache
.cache/
.sass-cache/
*.css.map
