<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="index.html" class="footer__logo">
        <picture class="footer__logo-icon">
          <source srcset="assets/img/icons/logo.svg" type="image/svg+xml" />
          <img src="assets/img/icons/logo.svg" alt="" />
        </picture>
        <span class="footer__logo-text">
          <span class="footer__logo-title">ПОХМЕЛОЧНАЯ</span>
          <span class="footer__logo-subtitle">наркологический центр</span>
        </span>
      </a>

      <div class="footer__phones">
        <div class="footer__phone">
          <span class="footer__phone-icon">
            <img src="assets/img/icons/header-phone.svg" alt="" />
          </span>
          <div class="footer__phone-body">
            <a href="tel:88002004816" class="footer__phone-link"
              >8 800 200-48-16</a
            >
            <span class="footer__phone-descr">Бесплатно по РФ</span>
          </div>
        </div>
        <div class="footer__phone">
          <span class="footer__phone-icon">
            <img src="assets/img/icons/header-phone.svg" alt="" />
          </span>
          <div class="footer__phone-body">
            <a href="tel:83472294665" class="footer__phone-link"
              >8 347 229-46-65</a
            >
            <span class="footer__phone-descr">Круглосуточная линия</span>
          </div>
        </div>
      </div>

      <div class="footer__actions">
        <div class="footer__social">
          <a class="footer__social-item" href="#" aria-label="Чат">
            <img src="assets/img/social/max.svg" alt="" />
          </a>
          <a class="footer__social-item" href="#" aria-label="Telegram">
            <img src="assets/img/social/tg.svg" alt="" />
          </a>
          <a class="footer__social-item" href="#" aria-label="Одноклассники">
            <img src="assets/img/social/ok.svg" alt="" />
          </a>
          <a class="footer__social-item" href="#" aria-label="ВКонтакте">
            <img src="assets/img/social/vk.svg" alt="" />
          </a>
        </div>
        <button
          class="standart-btn primary-btn footer__cta popup-btn change-item__btn change-item__btn_current"
          type="button"
          data-path="popup-change"
        >
          Вызвать врача
        </button>
      </div>
    </div>

    <nav class="footer__nav" aria-label="Навигация в футере">
      <div class="footer__nav-col is-open">
        <button class="footer__nav-title" type="button">Алкоголизм</button>
        <ul class="footer__nav-list">
          <li><a href="#">Анонимное кодирование</a></li>
          <li><a href="#">Анонимное лечение алкоголизма</a></li>
          <li><a href="#">Анонимный вывод из запоя</a></li>
          <li><a href="#">Кодирование Довженко</a></li>
          <li><a href="#">Кодирование Двойной блок</a></li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <button class="footer__nav-title" type="button">Наркология</button>
        <ul class="footer__nav-list">
          <li><a href="#">Анонимная наркологическая помощь</a></li>
          <li><a href="#">Частный наркологический стационар</a></li>
          <li><a href="#">Детоксикация от алкоголя</a></li>
          <li><a href="#">Капельница от похмелья</a></li>
          <li><a href="#">Консультация нарколога</a></li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <button class="footer__nav-title" type="button">Реабилитация</button>
        <ul class="footer__nav-list">
          <li><a href="#">Реабилитация 12 Шагов</a></li>
          <li><a href="#">Анонимная реабилитация</a></li>
          <li><a href="#">Нарколог на дом</a></li>
          <li><a href="#">Реабилитация алкоголиков</a></li>
          <li><a href="#">Реабилитация наркозависимых</a></li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <button class="footer__nav-title" type="button">Психиатрия</button>
        <ul class="footer__nav-list">
          <li><a href="#">Частная психиатрическая клиника</a></li>
          <li><a href="#">Кодирование по методу Попова</a></li>
          <li><a href="#">Консультация психолога</a></li>
          <li><a href="#">Лечение биполярного расстройства</a></li>
          <li><a href="#">Лечение депрессии</a></li>
        </ul>
      </div>
    </nav>

    <div class="footer__mid">
      <ul class="footer__quick">
        <li><a href="#">Цены на услуги</a></li>
        <li><a href="#">Наши статьи</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Карта сайта</a></li>
      </ul>

      <ul class="footer__legal">
        <li><a href="#">Политика конфиденциальности</a></li>
        <li><a href="#">Согласие на обработку персональных данных</a></li>
        <li><a href="#">Согласие на обработку с помощью Яндекс.Метрики</a></li>
        <li><a href="#">Политика обработки персональных данных</a></li>
        <li><a href="#">Пользовательское соглашение</a></li>
      </ul>

      <div class="footer__platforms">
        <a href="#" class="footer__platform" aria-label="Яндекс">
          <img src="assets/img/rating/yandex.svg" alt="Яндекс" />
        </a>
        <a href="#" class="footer__platform" aria-label="Продокторов">
          <img src="assets/img/icons/prodoc.svg" alt="Продокторов" />
        </a>
        <a href="#" class="footer__platform" aria-label="2GIS">
          <img src="assets/img/rating/2gis.svg" alt="2GIS" />
        </a>
        <a href="#" class="footer__platform" aria-label="ZOON">
          <img src="assets/img/rating/zoon.svg" alt="ZOON" />
        </a>
        <a href="#" class="footer__platform" aria-label="Google">
          <img src="assets/img/rating/google.svg" alt="Google" />
        </a>
        <a
          href="#"
          class="footer__platform footer__platform_text"
          aria-label="Отзовик"
        >
          Отзовик
        </a>
      </div>

      <a href="#" class="footer__rating">
        <span class="footer__rating-pin">
          <img src="assets/img/icons/header-pin.svg" alt="" />
        </span>
        <span class="footer__rating-value">4.8</span>
        <span class="footer__rating-stars" aria-hidden="true">
          <img src="assets/img/rating/star.svg" alt="" />
          <img src="assets/img/rating/star.svg" alt="" />
          <img src="assets/img/rating/star.svg" alt="" />
          <img src="assets/img/rating/star.svg" alt="" />
          <img src="assets/img/rating/star.svg" alt="" />
        </span>
        <span class="footer__rating-label">Рейтинг организации в Яндексе</span>
      </a>
    </div>

    <div class="footer__info">
      <div class="footer__company is-open">
        <button class="footer__company-title" type="button">Адрес</button>
        <div class="footer__company-body">
          <p>ООО «Медицинская компания «Наркологический центр»</p>
          <p>
            450092, Республика Башкортостан, г. Уфа, ул. Авроры, д. 5, к. 12
          </p>
          <p>
            Электронная почта:
            <a href="mailto:info@mk-narkolog-centr.ru"
              >info@mk-narkolog-centr.ru</a
            >
          </p>
        </div>
      </div>

      <div class="footer__pay">
        <p class="footer__pay-title">Принимаем к оплате:</p>
        <div class="footer__pay-list">
          <span class="footer__pay-item">МИР</span>
          <span class="footer__pay-item">VISA</span>
          <span class="footer__pay-item">MC</span>
          <span class="footer__pay-item">СБП</span>
          <span class="footer__pay-item">Apple</span>
          <span class="footer__pay-item">GPay</span>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__bottom-text">
        © 2024 Персональные данные обрабатываются на сайте в целях его
        функционирования, если вы не согласны, пожалуйста покиньте сайт. В
        противном случае это будет являться согласием на обработку персональных
        данных.
      </p>
      <p class="footer__bottom-text">
        Действуют мобильные медицинские бригады. Вся информация на сайте не
        является публичной офертой и несет сугубо информационный характер. Она
        не служит для постановки диагноза и назначения лечения.
      </p>
    </div>
  </div>
</footer>
