<footer class="footer" id="footer">
    <div class="footer__top">
        <div class="container footer__container">
            <div class="footer__content">
                <div class="footer__item">
                    <a href="index.html" class="logo footer__logo">
                        <picture class="footer__logo-pic">
                            <source srcset="assets/img/icons/logo1.svg" type="image/svg+xml">
                            <img src="assets/img/icons/logo1.png">
                        </picture>
                    </a>
                    <div class="footer__contact-wrap">
                        <div class="footer__contact">
                            <a href="tel:88003337777" class="footer__phone footer__contact-link">8 800 200-48-16</a>
                            <span class="footer__contact-descr">Круглосуточная горячая линия</span>
                        </div>
                        <div class="footer__contact">
                            <button class="footer__address popup-btn " data-path="popup__3">
                                <p class="footer__city footer__contact-link">Уфа, ул. Авроры, 5/12</p>
                            </button>
                            <span class="footer__contact-descr">Выезд бригады 24/7</span>
                        </div>
                    </div>
                    <div class="footer__social-wrap">
                        <a class="footer__social-item" href="#">
                            <picture class="footer__social-item-pic">
                                <source srcset="assets/img/social/tg.svg" type="image/svg+xml">
                                <img src="assets/img/social/tg.png">
                            </picture>
                        </a>
                        <a class="footer__social-item" href="#">
                            <picture class="footer__social-item-pic">
                                <source srcset="assets/img/social/vk.svg" type="image/svg+xml">
                                <img src="assets/img/social/vk.png">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="footer__nav">
                    <ul class="footer__nav">
                        <li class="footer-nav__item">
                            <span class="footer__nav-title">
                                Услуги
                            </span>
                            <ul class="footer__nav-item">
                                <li class="footer__link">
                                    <a href="#">Нарколог на дом</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Вывод из запоя</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Реабилитация
                                        наркозависимых</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Кодирование
                                        алкоголизма</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Лечение наркомании</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Лечение
                                        алкоголизма</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Капельница от запоя</a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-nav__item">
                            <span class="footer__nav-title">
                                О нас
                            </span>
                            <ul class="footer__nav-item">
                                <li class="footer__link">
                                    <a href="#">Блог</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Отзывы</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Цены</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Контакты</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Карта сайта</a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-nav__item">
                            <ul class="footer__nav-item">
                                <li class="footer__link">
                                    <a href="#">Наши филиалы</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Политика
                                        конфиденциальности</a>
                                </li>
                                <li class="footer__link">
                                    <a href="#">Пользовательское
                                        соглашение</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="footer__btn-wrap">
                    <button class="red-btn footer__btn popup-btn change__item-btn change__item-btn_current" data-path="popup__1">Перезвонить мне</button>
                    <button class="white-btn footer__btn popup-btn change__item-btn change__item-btn_current" data-path="popup__6">Задать вопрос</button>
                    <div class="footer__city-btn-wrap">
                        <a href="#" class="footer__city-btn-prev">Слободской</a>
                        <a href="#" class="footer__city-btn-next">Махачкала</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container footer__bottom-container">
            <div class="footer__bottom-item">
                <p>Медицинские услуги предоставляется ООО «Медицинская компания "Наркологический центр"» 450092
                    РЕСПУБЛИКА
                    БАШКОРТОСТАН, Г. УФА, УЛ. АВРОРЫ, Д. 5, к. 12
                    Медицинская лицензия Л041-01170-02/00342140
                    ОГРН 1180280047661
                    ИНН/КПП 0274939850</p>
            </div>
            <div class="footer__bottom-item">
                <p>Действуют мобильные медицинские бригады.
                    Вся информация на сайте не является публичной офертой и несет сугубо информационный характер. Она не
                    служит для постановки диагноза и назначения лечения.</p>
            </div>
            <div class="footer__bottom-item">
                <p>Персональные данные обрабатываются на сайте в целях его функционирования, если вы не согласны,
                    пожалуйста
                    покиньте сайт. В противном случае это будет являться согласием на обработку персональных данных.
                    Подробнее.</p>
            </div>
        </div>
    </div>
    <div class="footer__plashka">
        <div class="container">
            <p>Имеются противопоказания, необходимо проконсультироваться со специалистом. </p>
        </div>
    </div>
</footer>