<div class="popup" data-target="popup__1">
    <div class="popup__body">
        <div class="popup__content">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <span class="popup__title">Заказать <span>звонок</span></span>
            <p class="popup__subtitle">Просто оставьте заявку и мы вам перезвоним в ближайшее время</p>
            <form class="need__form popup__form">
                <div class="popup-input__wrap">
                    <label class="form__label">
                        <input type="text" class="popup__input" placeholder="Ваше имя" required>
                    </label>
                    <label class="form__label">
                        <input type="tel" class="popup__input" placeholder="+7 (___)___-__-__" required>
                    </label>
                </div>
                <div class="popup-bottom__wrap">
                    <button class="standart-btn popup__form-btn" type="submit">Отправить</button>
                    <label class="privacy-policy">
                        Нажимая на кнопку ”Отправить”, Вы даёте своё согласие на <a href="#">обработку персональных
                            данных</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" data-target="popup__2">
    <div class="popup__body">
        <div class="popup__content popup-change original-popup__content">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <span class="popup__title original-title original-title_popup">Записаться на
                консультацию:</span>
            <p class="popup__subtitle popup-fourth__subtitle original-popup__descr">Просто оставьте заявку и мы вам
                перезвоним в ближайшее время</p>
            <form class="need__form popup__form">
                <div class="popup-input__wrap">
                    <label class="form__label">
                        <input type="text" class="popup__input" placeholder="Ваше имя" required>
                    </label>
                    <label class="form__label">
                        <input type="tel" class="popup__input" placeholder="+7 (___)___-__-__" required>
                    </label>
                </div>
                <div class="popup-bottom__wrap">
                    <button class="standart-btn popup__form-btn" type="submit">Оставить заявку</button>
                    <!-- <input type="checkbox" class="custom-checkbox" required checked> 
                    <label class="checkbox-label"></label> -->
                    <label class="privacy-policy">
                        Нажимая на кнопку ”Оставить заявку”, Вы даёте своё согласие на <a href="#">обработку
                            персональных
                            данных</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" data-target="popup__3">
    <div class="popup__body">
        <div class="popup__content search-wrapper">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <span class="popup__title">
                Выбор города
            </span>
            <form class="popup__form popup__form-search">
                <input type="search" placeholder="Название города">

            </form>
            <ul class="city search-list">
                <li><a href="#" class="search-list__name">Челябинск</a></li>
                <li><a href="#" class="search-list__name">Москва</a></li>
                <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
                <li><a href="#" class="search-list__name">Казань</a></li>
                <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
                <li><a href="#" class="search-list__name">Казань</a></li>
                <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
                <li><a href="#" class="search-list__name">Москва</a></li>
                <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
                <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
                <li><a href="#" class="search-list__name">Челябинск</a></li>
                <li><a href="#" class="search-list__name">Москва</a></li>
                <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
                <li><a href="#" class="search-list__name">Казань</a></li>
                <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
                <li><a href="#" class="search-list__name">Казань</a></li>
                <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
                <li><a href="#" class="search-list__name">Москва</a></li>
                <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
                <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>

            </ul>
        </div>
    </div>

</div>
<div class="popup" data-target="popup__4">
    <div class="popup__body">
        <div class="popup__content popup__content_reviews">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <div class="reviews__item reviews__item_original">
                <div class="reviews__top reviews__top_original">
                </div>
                <div class="reviews__text reviews__text_original">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup" data-target="popup__5">
    <div class="popup__body">
        <div class="popup__content search-wrapper">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <span class="section-title popup__title">
                Поиск по сайту
            </span>
            <form class="popup__form popup__form-search">
                <input type="search" placeholder="Поиск">
            </form>
            <ul class="search-list search-site">
                <li><a href="#" class="search-list__name">тут ссылка</a></li>
                <li><a href="#" class="search-list__name">Тут ссылка</a></li>
                <li><a href="#" class="search-list__name">тут ссылка</a></li>
                <li><a href="#" class="search-list__name">Тут ссылка</a></li>
                <li><a href="#" class="search-list__name">тут ссылка</a></li>
                <li><a href="#" class="search-list__name">Тут ссылка</a></li>
                <li><a href="#" class="search-list__name">тут ссылка</a></li>
                <li><a href="#" class="search-list__name">Тут ссылка</a></li>
                <li><a href="#" class="search-list__name">тут ссылка</a></li>
                <li><a href="#" class="search-list__name">Тут ссылка</a></li>
                <li><a href="#" class="search-list__name">тут ссылка</a></li>
                <li><a href="#" class="search-list__name">Тут ссылка</a></li>
            </ul>

        </div>
    </div>
</div>


<div class="popup" data-target="popup__6">
    <div class="popup__body">
        <div class="popup__content popup-change original-popup__content">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <span class="popup__title original-title original-title_popup">Задать вопрос</span>
            <p class="popup__subtitle popup-fourth__subtitle original-popup__descr">Задайте свой вопрос
                и мы ответим вам</p>
            <form class="need__form popup__form">
                <div class="popup-input__wrap">
                    <label class="form__label">
                        <input type="text" class="popup__input" placeholder="Ваше имя" required>
                    </label>
                    <label class="form__label">
                        <input type="tel" class="popup__input" placeholder="+7 (___)___-__-__" required>
                    </label>
                </div>
                <div class="popup-input__wrap">
                    <label class="form-label faq-label">
                        <textarea class="textarea-input" name="text" id="" cols="10" rows="10"
                            placeholder="Ваш вопрос"></textarea>
                    </label>
                </div>
                <div class="popup-bottom__wrap">
                    <button class="standart-btn popup__form-btn" type="submit">Отправить</button>
                    <label class="privacy-policy">
                        Нажимая на кнопку ”Отправить”, Вы даёте своё согласие на <a href="#">обработку персональных
                            данных</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" data-target="popup__7">
    <div class="popup__body">
        <div class="popup__content order__wrapper">
            <picture class="close-popup">
                <source srcset="assets/img/icons/close.svg" type="image/svg+xml">
                <img src="assets/img/icons/close.png" alt="close">
            </picture>
            <div class="order__response">
                <h3>СПАСИБО!</h3>
                <p>Ваша заявка отправлена</p>
            </div>
        </div>
    </div>
</div>